* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,
body {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.53);
}

input,button{
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 3px;
  background-color: rgba(128, 128, 128, 0.24);
  color: white;
}