* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

button{

  margin: 10px;
  padding:10px;
  background-color: #6a6868;
  color: white;
  border: 1px solid black;

}

input{
    margin: 10px;
  padding:10px;
  background-color: #f28080;
  color: rgb(0, 0, 0);
  border: 1px solid black;
 
}

.page1{
  margin: 5px;
  height: 100vh;
  width: 100%;
  background-color: #222;
}

.page2{
  margin: 5px;
  height: 100vh;
  width: 100%;
  background-color: #8a1616;
}